.side-bar {
    width: fit-content;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
}

.filaments-container {
    width: 100%;
    box-shadow: 0px 0px 10px 0px #ff660043;
    background-color: #fff;
    color: #000;
    z-index: 2;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sb-btn {
    font-family: "Fira Mono";
    border: none;
    background-color: #ab4400;
    color: #fff;
    width: 10vw;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 10px;
    transition: all ease 250ms;
}

.sb-btn:hover {
    background-color: #903a01;
}

.film-search {
    width: 100%;
    font-family: "Fira Mono";
    border: 1px solid #ab4400;
    border-radius: 10px;
    font-size: medium;
    padding-inline: 10px;
}
