@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lexend:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend";
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
